# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Pytest / Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/
.pyre/
.mypy_cache/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Spark
# ==========================
spark-warehouse/
metastore_db/

# ==========================
# Delta Lake / Streaming Data
# ==========================
data/

# (If you want to keep the folder structure)
!data/.gitkeep

# ==========================
# Docker
# ==========================
*.pid